<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\LayeredNavigation\Block\Navigation\FilterRenderer">
        <plugin name="s48_filter_renderer" type="Space48\MultiFacetNavigation\Plugin\FilterRendererPlugin" disabled="false"/>
    </type>
</config>
